.result {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.container-result {
  display: flex;
  flex-direction: column;
}

.info-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 430px) {
  .result {
    flex-direction: column;
    gap: 0.5rem;
  }
  .container-result {
    align-items: center;
  }
}
