/* .arrow-btn {
  background-color: #fff;
} */

.e-img {
  width: 20px;
  height: 20px;
}

.astigmatism-img {
  margin: 1rem;
}

@media only screen and (max-width: 430px) {
  .astigmatism-img {
    width: 80%;
  }
}
